<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shine Details</title>
  <link rel="stylesheet" href="design.css">  
</head>
<body>
  <!-- Encabezado -->
  <header>
    <h1>Shine Details</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/">Anchetas</a>
      <a href="/">Peluches</a>
      <a href="/">Tazas</a>
      <a href="/">Bolsos</a>
      <a href="/">Desayunos</a>
      <a href="/Arreglos-florales">Arreglos Florales</a>
      <a href="/">Bouquets</a>
    </nav>
  </header>
  <h1>Arreglos Florales</h1>
  
  <!-- Contenedor de tarjetas alineadas horizontalmente -->
  <div class="card-container">
    <!-- Primera tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/Floral de la madre.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Special Lover</h3>
        <p class="card-description">Flores que celebran el amor de mamá.</p>
        <p class="card-price">$145.000</p>
        <a href="#" class="card-button">Ver más</a>
      </div>
    </div>
    
    <!-- Segunda tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/7.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Floral Dreams</h3>
        <p class="card-description">Flores que celebran el amor de mamá.</p>
        <p class="card-price">$100.000</p>
        <a href="#" class="card-button">Ver más</a>
      </div>
    </div>

<!-- 3 tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/10.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Champagne Love</h3>
        <p class="card-description">Flores que celebran el amor de mamá.</p>
        <p class="card-price">$125.000</p>
        <a href="#" class="card-button">Ver más</a>
      </div>
    </div>


    <!-- 4 tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/5.jpeg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mom edition</h3>
        <p class="card-description">Flores que celebran el amor de mamá.</p>
        <p class="card-price">$135.000</p>
        <a href="#" class="card-button">Ver más</a>
      </div>
    </div>
  </div>
  <!--2 linea y 5 tarjeta -->

  <div class="card-container">

    <div class="card">
      <img src="/images/Arreglo Florales/11.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Special Lover</h3>
        <p class="card-description">Flores que celebran el amor de mamá.</p>
        <p class="card-price">$145.000</p>
        <a href="#" class="card-button">Ver más</a>
      </div>
    </div>
<!--2 linea y 6 tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/12.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mom edition</h3>
        <p class="card-description">Flores que celebran el amor de mamá.</p>
        <p class="card-price">$135.000</p>
        <a href="#" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 7 tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/15.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mom edition</h3>
        <p class="card-description">Flores que celebran el amor de mamá.</p>
        <p class="card-price">$135.000</p>
        <a href="#" class="card-button">Ver más</a>
      </div>
    </div>
    <!--2 linea y 8 tarjeta -->
    <div class="card">
      <img src="/images/Arreglo Florales/17.jpg" alt="Arreglo Floral especial día de las madres">
      <div class="card-content">
        <h3 class="card-title">Mom edition</h3>
        <p class="card-description">Flores que celebran el amor de mamá.</p>
        <p class="card-price">$135.000</p>
        <a href="#" class="card-button">Ver más</a>
      </div>
    </div>

  </div>
<!-- Fin 2 linea-->
<!-- inicio de 3 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Arreglo Florales/18.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Special Lover</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$145.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>
<!--3 linea y 10 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/19.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mom edition</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$135.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 11 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/20.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mom edition</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$135.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>
  <!--3 linea y 12 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/21.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mom edition</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$135.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>

</div>
<!-- Fin 3 linea-->
<!-- inicio de 4 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Arreglo Florales/6.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Special Lover</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$145.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>
<!--4 linea y 14 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/9.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mom edition</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$135.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>
  <!--4 linea y 15 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/3.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mom edition</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$135.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>
  <!--4 linea y 16 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/2.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mom edition</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$135.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>

</div>
<!-- inicio de 5 linea-->
<div class="card-container">

  <div class="card">
    <img src="/images/Arreglo Florales/13.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Special Lover</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$145.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>
<!--5 linea y 18 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/14.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mom edition</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$135.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>
  <!--5 linea y 19 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/16.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mom edition</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$135.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>
  <!--5 linea y 20 tarjeta -->
  <div class="card">
    <img src="/images/Arreglo Florales/1.jpg" alt="Arreglo Floral especial día de las madres">
    <div class="card-content">
      <h3 class="card-title">Mom edition</h3>
      <p class="card-description">Flores que celebran el amor de mamá.</p>
      <p class="card-price">$135.000</p>
      <a href="#" class="card-button">Ver más</a>
    </div>
  </div>

</div>

</body>
</html>
