<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shine Details</title>
  <link rel="stylesheet" href="style.css">  
</head>
<body>
  <!-- Encabezado -->
  <header>
    <h1>Shine Details</h1>
    <nav>
      <a href="/">Inicio</a>
      <a href="/">Anchetas</a>
      <a href="/">Peluches</a>
      <a href="/">Tazas</a>
      <a href="/">Bolsos</a>
      <a href="/">Desayunos</a>
      <a href="/Arreglos-florales">Arreglos Florales</a>
      <a href="/">Bouquets</a>
    </nav>
  </header>

  <!-- Contenedor principal con flexbox -->
  <div class="main-container">
    <!-- Hero Section -->
    <section class="hero">
      <h2>Encuentra el regalo perfecto</h2>
      <p>Explore nuestra amplia selección de regalos únicos y pensados para cualquier ocasión.</p>
      <div class="buttons">
        <button class="btn-primary">Facebook</button>
        <a href="https://wa.me/573054170248" target="_blank">
            <button class="btn-secondary">Whatsapp</button>
        </a>
        <a href="https://www.instagram.com/shinedetails.bq/" target="_blank">
            <button class="btn-secondary">Instagram</button>
          </a>
      </div>
    </section>

    <!-- Galería de imágenes -->
    <section class="gallery">
      <img src="/images/Arreglo floral.jpg" alt="Imagen 1">
      <img src="/images/Mama.jpeg" alt="Imagen 2">
      <img src="/images/Peluche y flores.jpg" alt="Imagen 3">
      <img src="/images/Ramo.jpeg" alt="Imagen 4">
    </section>
  </div>

</body>
</html>
